html{
    scroll-behavior: smooth;
}
/* Utility */
.w-14px{
    width: 14px;
}
.w_5{
    width:10%;
}
.w_10{
    width:10%;
}
.w_20{
    width:20%;
}
.bg-orange_custom{
    background-color: #cd3d0f;
}
.bg-black_custom{
    background-color: #1f1e1e;
}
.bg-gray_custom{
    background-color: #bfbdbb;
}
.bg-light-gray_custom{
    background-color: #d8dadd;
}
.bg-blue_custom{
    background-color: #01429c; 
}
.bg-avengers_custom{
    background-color: #161c3b;
}
.h-5vh{
    height: 5vh;
}
.h-10vh{
    height: 10vh;
}
.h-15vh{
    height: 15vh;
}
.h_40{
    height: 40%;
}
.h_60{
    height: 60%;
}
.margin_top_120{
    margin-top: 120px;
}
.opa-05{
    opacity: 0.5;
}
.container_custom_sm{
    max-width: 700px;
    margin: auto;
}
.cards{
    transition: padding-top 0.5s ease-out;
}
.padding_top_1{
    padding-top: 1.5%;
}
.padding_top_2{
    padding-top: 2%;
}
.border_radius{
    border-radius: 20px;
}
.border_custom{   
    padding: 1%;
    border: #01429c 5px solid;
}
.list_style_type{
    list-style-type: disc;
}
/* Section */
#hero{
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
}
#it-take-two{
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-position: center;
}
/* Custom-Bootstrap */
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0);
}
.fs-5 {
    font-size: 0.9rem!important;
}
.fs-6 {
    font-size: 0.7rem!important;
}
.fs-7 {
    font-size: 0.5rem!important;
}
.dropdown-menu[data-bs-popper] {
    top: 80%;
    left: 0;
    margin-top: 0.125rem;
}
.dropdown, 
.dropend, 
.dropstart, 
.dropup {
    position: static!important;
} 
.dropdown-menu {
    text-align: left;
    border: 0;
}
.dropdown-item{
    width: 10%;
}
/* Hover */
.opa-none:hover{
    opacity: 1;
}
.border-b:hover{
    border-bottom: 3px solid #0180ff!important;
}
.cards:hover{
    padding-top: 0%!important;
}

.dropdown_menu,
.fa-angle-up{
    display: none;
}
.nav-link:hover .fa-angle-up,
.dropdown:hover .dropdown_menu{
    display: inline;
} 
.nav-link:hover .fa-angle-down{
    display: none;
} 

.button_custom:hover{
    border: solid black 3.5px;
    border-radius: 50px;
}
